{% if items is defined
    and items is not empty %}
    {% for item in items %}
        {% set title = render_post_data('title', item) %}
        <a title="{{ title|raw|esc_attr }}"
           class="d-flex card-link {{ link_class|esc_attr }}"
           href="{{ render_post_data('permalink', item) }}">

            {{ render_post_data('image', item, {attrs: {class: image_class ~ ' mr-2'}})|raw }}

            <span class="my-auto limit-line max-line-1 {{ title_class|esc_attr }}">{{ title|raw }}</span>
        </a>
    {% endfor %}
{% endif %}
