{% if items is defined and items is not empty %}

    <div class="product-attributes {{ container_class|raw }}">
        {% for item in items %}
            {% set index = loop.index %}
            <div class="product-attribute {{ each_class|esc_attr }} {{ can_show_on_grid(index, show_on)|esc_attr }}">
                {% if has_card %}
                <div class="card">
                    {% endif %}
                    <div class="d-flex flex-row{% if has_card %} card-body{% endif %}">
                        {% if item.icon is not empty %}
                            {{ get_icon(item.icon, icon_attrs, 1)|raw }}
                        {% endif %}
                        <div class="{{ text_container_class|esc_attr }}">
                            {% if show_key %}
                                <div class="{{ key_class|esc_attr }} limit-line max-line-1" title="{{ item.label|esc_attr }}">{{ item.label }}</div>
                            {% endif %}
                            <div class="{{ value_class|esc_attr }} limit-line max-line-1" title="{{ item.value|esc_attr }}">{{ item.value }}</div>
                        </div>
                    </div>
                    {% if has_card %}
                </div>
                {% endif %}
            </div>
            {% if limit is defined %}
                {% set limit = limit - 1 %}
                {% if limit == 0 %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

